//***********************
// ***** FEDUX_FORM *****
//***********************
.error_border {
  position: relative;
  input {
    border-color: #FF0000;
    &+span {
      color: #FF0000;
      position: absolute;
      bottom: -14px;
      left: 15px;
      font-size: 10px;
    }
  }
}

@import "reset.scss";